<div class="chat-header">
  <div class="left-header">
    <div class="header-tittle">
      <%= @room.name %>
    </div>
  </div>
  <% if current_user.admin? %>
    <div class="right-header">
      <div class="header-button">
        <%= link_to "チャットを削除する", "/rooms/#{@room.id}", method: :delete %>
      </div>
    </div>
  <% else %>
    <div class="right-header">
      <div class="header-button">
        <%= link_to "トップに戻る", root_path %>
      </div>
    </div>
  <% end %>
</div>

<div class="messages">
  <%= render partial: 'message', collection: @messages %>
</div>

<div>
  <%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
    <div class="form-input">
      <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    </div>
    <%= f.submit '送信', class: 'form-submit' %>
  <% end %>
</div>